.hero img {
    max-height: 100vh;
    height: 70vh;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.25), transparent);
}

.carousel-control-prev, .carousel-control-next {
    z-index: 2;
}
.hero-content {
    position: absolute;
    top: 50%;
    width: 80%;
    transform: translateY(-50%);
    left: 15%;
    z-index: 999;
}